# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# cypress
.DS_Store
cypress/.DS_Store
cypress/videos/
cypress/screenshots/
cypress/downloads/
# reports
artifacts/